.el-radio.is-bordered.is-disabled {
  border-color: #409EFF !important;

}

.el-radio__input.is-disabled + span .el-radio__label{
  color: #409EFF !important;
}
.el-radio__input.is-disabled+span.el-radio__label{
	color: #000 !important;
}
.el-radio__input.is-disabled.is-checked .el-radio__inner{
	background-color: #409EFF !important; 
    border-color: #409EFF !important; 
}